
.navbar {
    display: flex;
    gap: 20px;
    background-color: rgba(250, 164, 143, 0.911);;
    padding: 15px 30px;
}

.navbar a {
    color: blue;
    font-size: 18px;
}

.navbar a:hover {
    color: brown;
}