
.navbar {
    display: flex;
    gap: 20px;
    background-color: rgba(238, 128, 101, 0.911);;
    padding: 15px 30px;
}

.navbar a {
    font-size: 18px;
}
a {
    color: rgb(80, 17, 17);
}
a:hover {
    color: brown;
}
